.btn-level0 {
  color: #000;
  background-color: #FFCCBC
  }
  
.btn-level0-select {
  color: #fff;
  background-color: #D84315
  }
  
.btn-level1 {
  color: #000;
  background-color: #FFE0B2
  }
  
.btn-level1-select {
  color: #fff;
  background-color: #EF6C00
  }
  
.btn-level2 {
  color: #000;
  background-color: #FFF9C4
  }

.btn-level2-select {
  color: #fff;
  background-color: #F9A825
  }
  
.btn-level3 {
  color: #000;
  background-color: #F0F4C3
  }
 
.btn-level3-select {
  color: #fff;
  background-color: #9E9D24
  }
  
.btn-level4 {
  color: #000;
  background-color: #DCEDC8
  }
  
.btn-level4-select {
  color: #fff;
  background-color: #558B2F
  }
  