<!-- adminJudges.html -->
<div ng-controller="AdminJudgesForm">
    <div class="panel panel-default text-center">
		<div class="panel-body">
			<h2>Manage judges</h2>
		</div>
	</div>	

	<!-- Panel to overview all judges -->
	<div class="panel panel-primary" >
		<div class="panel-heading"><i class="mdi-action-assignment-ind"> </i> Current judging panels</div>
		<div class="panel-body">
			<table class="table table-striped" ng-show="judgingpanels != null">
				<thead>
					<tr>
					<td>ID</td>
					<td>Category</td>
					<td>Lane</td>
					<td>Room</td>
					<td>Names</td>
					<td>Actions</td>
					</tr>
				</thead>
				<tbody>
					<form name="edit-judges-form">
					<tr ng-repeat="panel in judgingpanels">
						<td>{{panel.id}}</td>
						<td>
							<img src="images/Project.png" ng-if="panel.category === 'PR'" width="20px" height="20px;">
							<img src="images/RobotDesign.png" ng-if="panel.category === 'RD'" width="20px" height="20px;">
							<img src="images/CoreValues.png" ng-if="panel.category === 'CV'" width="20px" height="20px;">
							{{panel.category === "PR" ? "Project" : ""}}
							{{panel.category === "RD" ? "Robot Design" : ""}}
							{{panel.category === "CV" ? "Core Values" : ""}}
						</td>
						<td>{{panel.lane}}</td>
						<td>{{panel.room}}</td>
						<td><span ng-repeat="name in panel.names">{{!$last ? name + ", " : name}}</span></td>
						<td>
							<button class="btn btn-warning btn-sm disabled" disabled><i class="fa fa-cog"></i> Edit</button>
							<button class="btn btn-danger btn-sm" ng-click="DelPanel($index)"><i class="fa fa-trash"></i> Delete</button>
						</td>
					</tr>
					</form>
				</tbody>
			</table>
		</div>
		<div class="panel-heading"><i class="mdi-action-assignment-ind"> </i> Add a judging panel</div>
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
					<td>ID</td>
					<td>Category</td>
					<td>Lane</td>
					<td>Room</td>
					<td>Names</td>
					<td>Actions</td>
					</tr>
				</thead>
				<tbody>
					<form name="newPanelInput">
					<tr>
						<td></td>
						<td><select ng-model="newPanelInput.category">
							<option value="PR">Project</option>
							<option value="RD">Robot Design</option>
							<option value="CV">Core Values</option>
						</select></td>
						<td><select ng-model="newPanelInput.lane">
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="C">C</option>
							<option value="D">D</option>
						</select></td>
						<td><input type="text" ng-model="newPanelInput.room" ng-style="newPanelInput.roomStyle" ng-blur="checkRoom(newPanelInput.room)" /></td>
						<td>
							<div class="input-group input-group-sm">
								<input type="text" class="form-control" ng-model="newPanelInput.nameInput"/>
								<span class="input-group-btn">
									<button type="button" ng-click="AddName(newPanelInput.nameInput)" class="btn btn-default"><i class="fa fa-plus"></i></button>
								</span>
							</div>
							<span ng-repeat="name in newPanel.names">{{name}}&nbsp;<button type="button" ng-click="DelName($index)" class="btn btn-link btn-xs"><i class="fa fa-minus"></i></button><br></span>
						</td>
						<td><button type="submit" class="btn btn-primary btn-sm" ng-click="AddNewPanel()"><i class="fa fa-check"></i> Add</button></td>
					</tr>
					</form>
				</tbody>
			</table>
		</div>
	</div>
</form> 
</div>
	