<!-- nominations.html -->
<div ng-controller="NominationsForm">
<form name="nominations-form">
    <div class="panel panel-default text-center">
		 <div class="panel-body">
			<h2><img height="50px"src="/images/{{rubricIcon}}" /> {{rubricCategory}} Nominations</h2>
		 </div>
	</div>	

	<div class="panel panel-primary" >
		<div class="panel-heading"><i class="mdi-action-assignment-ind"> </i> Select your judging panel </div>
		<div class="panel-body">
			<select class="form-control" ng-model="selectJudgingPanel"  ng-click="ChangeForm()" ng-options="item as item.panel for item in judgingpanels | filter:{category:rubricCategory }">
				<div class="panel-body">
				<option value="">Select Judging panel</option>
				</div>
			</select>
		</div>
	</div>
	<div class="panel panel-primary" >
		<div class="panel-heading"><i class="mdi-av-shuffle"> </i> Sort your teams </div>	
		<br />
		

		
		
		<div class="section row connectedItemsExample">
			
		
		
			
			<div class="col col-sm-4">
				<div class="panel panel-default">
				<div class="panel-heading"><i class="mdi-editor-format-list-bulleted"></i> Team list</div>
					<div class="panel-body">
						<div ui-sortable="sortableOptions" ng-model="teams" class="list-group">
							<div ng-repeat="item in teams" class="list-group-item">
								<div class="row-action-primary">
									<i class="mdi-hardware-keyboard-tab"></i>
								</div>
								<div class="row-content">
									<div class="action-secondary"><i class="mdi-action-info-outline"></i></div>
									<h4 class="list-group-item-heading"> {{item.name}} ({{item.number}})</h4>
									<p class="list-group-item-text">{{item.affiliation}}</p>
								</div>
								<div class="list-group-separator"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="col col-sm-4">
			<div ng-repeat="award in awards| filter:{category:rubricCategory }" ng-model="awards" class="panel panel-default">
	
				<div class="panel-heading">
					<i class="mdi-editor-format-list-bulleted"></i>{{award.award}}</div>
						<div class="panel-body">				
							<div ui-sortable="sortableOptions" ng-model="award.teamsSorted" class="list-group">                                                            
                                                            <div ng-if="!award.teamsSorted.length">Drag your Nominations in this Area.</div>	
                                                            <div ng-repeat="team in award.teamsSorted" class="list-group-item">
									<div class="row-content" >
										<h4 class="list-group-item-heading"><span class="label label-default">{{$index+1}}</span> {{team.name}} ({{team.number}})</h4>
										<p class="list-group-item-text">{{team.affiliation}}</p>
									</div>
									<div class="list-group-separator"></div>
								</div>
							</div>
						</div>
				
			</div>
			</div>
			
			
			<div class="col col-sm-4">
				<div class="panel panel-default">
				<div class="panel-heading"><i class="mdi-editor-format-list-numbered"></i> Ranking list</div>
					<div class="panel-body">
					<div ui-sortable="sortableOptions" ng-model="teamsSorted" class="list-group">
							<div ng-if="!teamsSorted.length">Drag your Nominations in this Area.</div>	
                                                        <div ng-repeat="item in teamsSorted" class="list-group-item">
								
									<h4 ng-class="$index< 3?'bg-success':''" class="list-group-item-heading"><span class="label label-default">{{$index+1}}</span> {{item.name}} ({{item.number}})</h4>
									<p class="list-group-item-text">{{item.affliation}}</p>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
		
			
		</div>
	</div>
</form>
</div>

