<!-- rubric.html -->
<div ng-controller="RubricForm">
 <form name="rubric-form">
    <div class="panel panel-default text-center">
		 <div class="panel-body">
			<h2><img height="50px"src="/images/{{rubricIcon}}" /> {{rubricCategory}} Rubric</h2>
		 </div>
		</div>	

		<div class="panel panel-primary" >
		<div class="panel-heading"><i class="mdi-action-assignment-ind"> </i> Select your judging form </div>
			<div class="panel-body">
					<select class="form-control" ng-model="selectedTeam" ng-click="ChangeForm()" ng-options="item as item.name for item in teams">
						<option value="">Select Team</option>
					</select>
					
					<select class="form-control" ng-model="selectJudgingPanel"  ng-click="ChangeForm()" ng-options="item as item.panel for item in judgingpanels | filter:{category:rubricCategory }">
						<option value="">Select Judging panel</option>
					</select>
			</div>
			
		</div>

	
	<!-- Default panel contents -->
	<div class="panel panel-primary" >
		<div class="panel-heading"><i class="mdi-action-assignment"> </i> {{selectJudgingPanel.panel}} Rubric for ({{selectedTeam.number}}) {{selectedTeam.name}}</div>
		<div class="panel-body">For each skill area, clearly mark the box that best describes the team's accomplishments. If the team does not demonstrate skill in a particular area, then put an 'X' in the first box for Not Demonstrated (ND). Please provide as many written comments as you can to acknowledge each team’s hard work and to help teams improve. When you have completed the evaluation, please circle the awards for which you would like this team to be considered.</div>

		<table class="table table-striped">
			<thead>
				<tr>
				<th>Not demonstrated</th>
				<th>Beginning</th>
				<th>Developing</th>
				<th>Accomplished</th>
				<th>Exemplary</th>		
				</tr>
			</thead>
			<tbody>
			<tr ng-repeat-start="question in rubricQuestions | filter:{category:rubricCategory}" >
				<td colspan="5">
					<p><i class="mdi-image-filter-{{question.questionID}}"></i><strong> {{question.questionText}}:</strong> {{question.questionDesc}}</p>
				</td>
			</tr>
			<tr ng-repeat-end>
			<!-- ideally the answer options should also be dynamic -->
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<td>
						<button class="btn btn-block btn-level0" ng-class="rubric[question.questionID]== 0?'btn btn-level0-select active': 'btn btn-level0'" ng-click="ChangeForm(question.questionID,0)" style="white-space: normal; height:100%; width:100%; " >
							{{question.AnswerND}}
						</button>
					</td>
					<td> 
						<button class="btn btn-block btn-level1" ng-class="rubric[question.questionID]== 1?'btn btn-level1-select active':'btn btn-level1'" ng-click="ChangeForm(question.questionID,1)" style="white-space: normal; height:100%; width:100%; " >
							{{question.AnswerBeginning}}
						</button>
					</td>
					<td> 
						<button class="btn btn-block btn-level2" ng-class="rubric[question.questionID]== 2?'btn btn-level2-select active':'btn btn-level2'" ng-click="ChangeForm(question.questionID,2)" style="white-space: normal; height:100%; width:100%; ">
							{{question.AnswerDeveloping}}
						</button>
					</td>
					<td> 
						<button class="btn btn-block btn-level3" ng-class="rubric[question.questionID]== 3?'btn btn-level3-select active':'btn btn-level3'" ng-click="ChangeForm(question.questionID,3)" style="white-space: normal; height:100%; width:100%; ">
							{{question.AnswerAccomplished}}
						</button>
					</td>
					<td>
						<button class="btn btn-block btn-level4" ng-class="rubric[question.questionID]== 4?'btn btn-level4-select active':'btn btn-level4'" ng-click="ChangeForm(question.questionID,4)" style="white-space: normal; height:100%; width:100%; ">
							{{question.AnswerExemplary}}
						</button>
					<td>
				</div>		
			</tr>
			</tbody>
		</table>	
	</div>
				
	<div class="panel panel-primary" >
		<div class="panel-heading"><i class="mdi-action-assignment-turned-in"> </i> Submit {{selectJudgingPanel.panel}} rubric for team ({{selectedTeam.number}}) {{selectedTeam.name}}</div>
		<div class="panel-body">Please ensure you have selected the correct <strong>team</strong>, <strong>panel</strong>, and <strong> rubric</strong> before submitting the form.</div>
		<!-- TODO: add confirmation dialog -->
		<button class="btn btn-danger" ng-click="ResetForm()" >Reset answers</button>
		<button class="btn btn-success" ng-disabled="!isSubmitEnabled()" ng-click="SubmitForm()">Submit rubric</button>
	</div>
	</form> 
</div>
	